body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.nav {
  font-size: 18px;
  color: white;
}

.header {
  background-image: url(../img/the-flatiron-building.png);
  padding-bottom: 5px;
}

.york {
  background-image: url(../img/the-flatiron-building.png);
  color: white;
  padding-top: 1px;
  padding-bottom: 3px;
}

.footer {
  background-color: dimgray;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.green {
  color: olivedrab;
}
